*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    margin: 2% auto;
}
.main-div{
    background-color: #4b707d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: auto 0;
    border-radius: 8px;
}
.main-div h1{
    font-family: poppins;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.Deposit-Card{
    width: 180px;
    height: 90px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;

}
.Deposit-Card h1{
    font-family: poppins;
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
    color: rgb(38, 37, 38);
}
.Deposit-Card h3{
    color: green;
    text-align: center;
    margin-top: 2px;
    letter-spacing: 1px;
}
.dCard :hover{
    background-color: #fff;
    transition: 0.3s;
}
.Withdraw-Card{
    width: 180px;
    height: 90px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;

}

.Withdraw-Card h1{
    font-family: poppins;
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
    color: rgb(38, 37, 38);
}
.Withdraw-Card h3{
    color: red;
    text-align: center;
    margin-top: 2px;
    letter-spacing: 1px;
}
.wCard :hover{
    background-color: #fff;
    transition: 0.3s;
}
.Balance-Card{
    width: 180px;
    height: 90px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
}
.Balance-Card h1{
    font-family: poppins;
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
    color: rgb(38, 37, 38);
}
.Balance-Card h3{
    color: rgb(9, 150, 160);
    text-align: center;
    margin-top: -2px;
    letter-spacing: 1px;
}
.bCard :hover{
    background-color: #fff;
    transition: 0.3s;
}
.form{
   display: flex; 
   flex-direction: column;
   gap: 10px;
}
.inputs input{
    width: 350px;
    padding: 6px;
    background-color: #d7d7d7;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 17px;
    font-family: poppins;
    text-align: center; 
}
.textbox input{
    padding: 15px;
}
.buttons{
    display: flex;
    margin-top: 20px;
}
.btn1{
    background-color: rgb(3, 160, 3);
    border: 1px solid green;
    padding: 10px 40px;
    margin: 8px;
    border-radius: 5px;
}
.btn1:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.btn2{
    background-color: rgb(171, 20, 20);
    border: 1px solid rgb(171, 20, 20);
    padding: 10px 40px;
    border-radius: 5px;
    margin: 8px;
}
.btn2:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
button{
    background-color: transparent;
    color: rgb(234, 234, 234);
    font-family: poppins;
    border: none;
    outline: none;
}